
# WordPress core
# - from https://brudtkuhl.com/wordpress-gitignore/

# Ignore everything in the root except ...
/*
!.gitignore
!.github/
!README.md
!CHANGELOG.md
!wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/

wp-content/plugins/akismet/
wp-content/plugins/hide-admin-bar/
wp-content/plugins/wordpress-importer/
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
wp-content/themes/twentynineteen


# WordPress defaults
# - from https://github.com/github/gitignore/blob/master/WordPress.gitignore

*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
